$main-font-family: "Poppins", sans-serif;
$logo-font-family: "Nunito", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  padding: 0 6.4rem;
  padding-top: 3.6rem;
  background-image: linear-gradient(
      to right,
      rgba(13, 13, 32, 0.3),
      rgba(13, 13, 32, 0.3)
    ),
    url("../img/bg-hero.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  .header__navigasi {
    display: flex;
    justify-content: space-between;
    // margin-top: 3.6rem;

    .header__logo-box .logo {
      font-size: 3.8rem;
    }
  }
}
