$main-font-family: "Poppins", sans-serif;
$logo-font-family: "Nunito", sans-serif;

/* main font weight*/
$font-weight-main-regular: 400;
$font-weight-main-medium: 500;
$font-weight-main-semibold: 600;
$font-weight-main-bold: 700;
/*----------*/

// font weight logo
$font-weight-logo-bold: 700;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  padding: 0 6.4rem;
  padding-top: 3.6rem;
  font-family: $main-font-family;
  background-image: linear-gradient(
      to right,
      rgba(13, 13, 32, 0.3),
      rgba(13, 13, 32, 0.3)
    ),
    url("../img/bg-hero.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  .header__navigasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 3.6rem;

    .header__logo-box .logo {
      font-size: 3.8rem;
      color: #fff;
      font-weight: $font-weight-logo-bold;
      font-family: $logo-font-family;
    }

    .nav ul {
      display: flex;
      gap: 3rem;
      justify-content: space-between;
      align-items: center;
    }
    .nav ul li {
      list-style: none;

      .link-item:link,
      .link-item:visited {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: $font-weight-main-medium;
        color: #bbbdc3;
        display: inline-block;
        position: relative;
      }
      .link-item::after {
        content: "";
        width: 50%;
        height: 100%;
        display: inline-block;
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
      }

      .link-item:active {
        color: #fff;
      }

      .link-item:hover {
        color: #fff;
      }
      .link-item:hover::after {
        border-bottom: 3px solid #fff;
      }
    }
  }
}
