*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  padding: 0 6.4rem;

  .header__navigasi {
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;

    .header__logo-box .logo {
      font-size: 3.8rem;
    }
  }
}
